<section class="about" id="about">
  <div class="max-width">
    <h2 class="title">About Me</h2>
    <div class="about-content">
      <div class="column left">
        <img src="assets/about.jpg" alt="Profile Image 720x720">
      </div>
      <div class="column right">
        <div class="text">I'm Brijesh Mishra and I'm a <span class="typing-2"></span></div>
        <p>Welcome to my portfolio! I'm Brijesh Mishra, a passionate full-stack developer with a B.Tech degree. My
          journey into the world of coding and development began with my solid educational foundation, which I
          continually enhance through self-directed learning.
          Recently, I completed a full-stack developer course at Ntech Global Solutions, where I gained proficiency in
          both front-end and back-end development, working with cutting-edge technologies to create dynamic web
          applications.
        </p>
        <br>
        <div class="text">About me</div>
        <div class="tab-titles">
          <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
          <p class="tab-links" onclick="opentab('experience')">Languages</p>
          <p class="tab-links" onclick="opentab('eucation')">Eductaion</p>
        </div>
        <!-- ----------------------- Tab Links ----------------------- -->

        <!-- ----------------------- Tab Contents ----------------------- -->
        <div class="tab-contents active-tab" id="skills">
          <ul>
            <li><span>Programming language</span><br>Python,C++</li>
            <li><span>Web Development</span><br>Full Stack Developer</li>
          </ul>
        </div>
        <div class="tab-contents" id="experience">
          <ul>
            <li><span>FrontEnd Language </span><br>HTML,CSS,JavaScript,jQuery,Bootstrap</li>
            <li><span>FrontEnd Frameeork </span><br>React, Angular</li>
            <li><span>BackEnd Language </span><br>Python, Node.Js, Express.Js</li>
            <li><span>Database </span><br> MySQl, MongoDB</li>
          </ul>
        </div>
        <div class="tab-contents" id="eucation">
          <ul>
            <li><span>2023</span><br>Full Stack Web Development Certification</li>
            <li><span>2021</span><br>B.Tech from RGPV univercity</li>
            <li><span>2017</span><br>12th from UP Board</li>

          </ul>
        </div>
        <!-- <a href="#link" target="blank">Download CV</a> -->
      </div>
    </div>
  </div>
</section>