<div class="scroll-up-btn">
  <i class="fas fa-angle-up"></i>
</div>
<!-- Header -->
<nav class="navbar">
  <div class="max-width">
    <div class="logo">
      <a href="#"
        ><span>{{ firstname }}</span
        ><span> {{ lastname }}</span></a
      >
    </div>
    <ul class="menu">
      <li>
        <a href="#home" class="menu-btn"><strong>Home</strong></a>
      </li>
      <li>
        <a href="#about" class="menu-btn"><strong>About</strong></a>
      </li>
      <li>
        <a href="#services" class="menu-btn"><strong>Skills</strong></a>
      </li>
      <li>
        <a href="#projects" class="menu-btn"><strong>Projects</strong></a>
      </li>
      <li>
        <a href="#contact" class="menu-btn"><strong>Contact</strong></a>
      </li>
    </ul>
    <div class="menu-btn">
      <i class="fas fa-bars"></i>
    </div>
  </div>
</nav>
<section class="home" id="home">
  <div class="max-width">
    <div class="home-content">
      <div class="text-1">Hello, I'm</div>
      <div class="text-2">{{ firstname }} {{ lastname }}</div>
      <div class="text-3">And I'm a <span class="typing"></span></div>
      <!--<a href="#">Hire me</a> -->
    </div>
  </div>
</section>
