<section class="services" id="services">
  <div class="max-width">
    <h2 class="title">My Skills</h2>
    <div class="serv-content">
      <div class="card">
        <div class="box">
          <i class="fas fa-laptop-code"></i>
          <div class="text">Frontend Language</div>
          <p>
            Frontend development involves creating the user interface and user
            experience of a website or web application.<br />Exp.
            <b>HTML,CSS,JavaScript,Bootstrap,jQuery.</b>
          </p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <i class="fas fa-user-secret"></i>
          <div class="text">BackEnd Language</div>
          <p>
            Backend development involves creating the server-side logic,
            databases, and APIs that power a website or web application. There
            are several programming languages and frameworks commonly used for
            backend development.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <i class="fas fa-code"></i>
          <div class="text">Database</div>
          <p>
            Databases are a crucial component of web development, storing and
            managing data for applications.<br />
            Exp. Relational Databases (SQL), NoSQL Databases.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
