<section class="projects" id="projects">
    <div class="max-width">
      <h2 class="title">My Projects</h2>
      <div class="carousel owl-carousel">
        <div class="card">
          <div class="box">
            <img src="assets/portfolio.jpg" alt="">
            <div class="text">Brijesh Mishra's Portfolio Website-Angular</div>
            <p>Built this website using Angular for the frontend, with Angular Router for smooth navigation. Bootstrap ensures a responsive and visually appealing design. The website's source code is hosted on GitHub for transparency and collaboration.</p><br>
            <a href="/" class="bn5"><i class="fa-brands fa-github" style="color: #dde3ee;"></i>GitHub</a>
          </div>
        </div>
        <div class="card">
          <div class="box">
            <img src="assets/time-tea.jpg" alt="">
            <div class="text">Personal-Blog-Website-Tea-time-journal-Django</div>
            <p>I built a personal blog site with HTML, Bootstrap, and Django, featuring "Home," "About Me," and "Get in Touch" sections. It's responsive, uses Django form, and shares life hacks and self-care tips through engaging blog posts.</p><br>
            <a href="/" class="bn5"><i class="fa-brands fa-github" style="color: #dde3ee;"></i>GitHub</a>
          </div>
        </div>
        <div class="card">
          <div class="box">
            <img src="assets/ows.jpg" alt="">
            <div class="text">Aspects-Fieldwork-Research-Website-react</div>
            <p>The "Aspects Fieldwork & Research Website" project is a comprehensive web development endeavor aimed at establishing a dynamic online presence for our esteemed market research and consulting firm, Aspects Fieldwork & Research.</p><br>
            <a href="/" class="bn5"><i class="fa-brands fa-github" style="color: #dde3ee;"></i>GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </section>